<% include ./partials/header%>
<div class="ui container">
    <div class="image breakdown">
      <img id="user-avatar" src="https://s-media-cache-ak0.pinimg.com/736x/41/fa/8b/41fa8ba3fdbf49fcc7e42a929a80c4b1--manga-boy-manga-anime.jpg">
    </div>
    <div class="ui fluid three item menu">
      <a class="item">Buy</a>
      <a class="item">Sell</a>
      <a class="item">Rent</a>
    </div>
</div>

<% include ./partials/footer%>