<% include partials/header%>

<div>
    <div id="login-form" class="ui main text container segment">
        <div class="ui huge header">Login</div>
        <form class="ui form" action="/login" method="POST">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required>
            </div>
             <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <input type="Submit" class="ui secondary button">
        </form>
    </div>
</div>

<% include partials/footer%>